.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 25em;
    background-color: var(--verde-claro);
    color: var(--branco);
    padding: 2em;
    margin: 3em 0;
    border-radius: 2em;
}

.formulario h2 {
    text-align: center;
}